<!--
Carla Lorena Flores Subias A01331363
Isabel García Pérez A01331405
-->
<!DOCTYPE html>
<html ng-app="listaEmpleados">
    <head>
        <title>Golden Cloud Factory</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/GCF.css"/>
        <script src="angular.js"></script>
        <script>
        var modelo={acciones:[{nombre:"Carla",apellidos:"Flores",num:"A01331363",depto:"Sistemas", ocultar:false}]};
        var listaEmpleados= angular.module("listaEmpleados", []);
        listaEmpleados.controller("listaEmpleadosController", function($scope){
            $scope.empleados=modelo;
            $scope.nuevoEmpleado=function(nombre,apellidos,num,depto){
                $scope.empleados.acciones.push({nombre:nombre,apellidos:apellidos,num:num,depto:depto, ocultar:false});
            }
            $scope.buscar=function(opcion,textoBuscar){   
                switch(opcion){
                    case "nombre":
                        angular.forEach($scope.empleados.acciones, function(item){
                        if(!item.nombre.includes(textoBuscar)){
                            item.ocultar=true;
                        }else{
                            item.ocultar=false;
                        }
                        });
                    break;
                    case "apellidos":
                        angular.forEach($scope.empleados.acciones, function(item){
                        if(!item.apellidos.includes(textoBuscar)){
                            item.ocultar=true;
                        }else{
                            item.ocultar=false;
                        }
                    });
                    break;
                    case "numero":
                        angular.forEach($scope.empleados.acciones, function(item){
                        if(!item.num.includes(textoBuscar)){
                            item.ocultar=true;
                        }else{
                            item.ocultar=false;
                        }
                    });
                    break;
                    case "depto":
                        angular.forEach($scope.empleados.acciones, function(item){
                        if(!item.depto.includes(textoBuscar)){
                            item.ocultar=true;
                        }else{
                            item.ocultar=false;
                        }
                    });
                    break;
                }
            }
        $scope.borrar=function(i){   
                $scope.empleados.acciones.pop(i);
            }
        });
    </script>
    </head>
    <body ng-controller="listaEmpleadosController">
        <header class="page-header">
            <div class="row head">
                <div class="col-sm-4"></div>
                <div class="col-sm-1">
                    <img alt="Logo_GCF" src="Logo/GCF_100x82.png">
                </div>
                <div class="col-sm-3">
                    <h1 id="title_header"><small>Golden Cloud Factory</small></h1>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#Menu">
                                <img alt="GCF" src="Logo/GCF_30x26.png">
                            </a>
                </div>
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <label for="buscaEmpleado">Buscar por:</label>
                        <select class="form-control" id="seleccion_parametro" ng-model="opcion">
                            <option value="nombre">Nombre</option>
                            <option value="apellido">Apellidos</option>
                            <option value="numero">Numero de cuenta</option>
                            <option value="depto">Departamento</option>
                        </select>
                    </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="teztbuscarempleado" placeholder="Buscar Empleado" ng-model="textoBuscar">
                          <button type="button" class="btn" ng-click="buscar(opcion,textoBuscar)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div>
                </form>
            </div>
        </nav>
        <section class="container jumbotron" id="tabla_empleados">
                <p>Lista de empleados <button type="button" class="btn" data-toggle="modal" data-target="#Crear_empleado"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></p>
                
                    <table class="table table-striped" id="tabla">
                        <tr id="table_header">
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Numero de Cuenta</th>
                            <th>Departamento</th>
                            <th></th>
                        </tr>
                         <tbody>
                            <tr ng-repeat="item in empleados.acciones">
                                    <td ng-hide=item.ocultar>{{item.nombre}}</td>
                                    <td ng-hide=item.ocultar>{{item.apellidos}}</td>
                                    <td ng-hide=item.ocultar>{{item.num}}</td>
                                    <td ng-hide=item.ocultar>{{item.depto}}</td>
                                    <td ng-hide=item.ocultar><button type='button' class='btn' data-toggle='modal' data-target='#Crear_empleado' ng-click=modificar(item)>Modificar</button><button type='button' class='btn' ng-click=borrar(item)>Borrar</button></td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
        </section>
        <div class="container-fluid modal fade modal-sm" id="Crear_empleado">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="header_title">Agregar empleado</h3>
                </div>
                <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombreEmpleado">Nombre</label>
                        <input type="text" class="form-control" id="textnombreempleado" placeholder="Nombre" ng-model="nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellidosEmpleado">Apellido(s)</label>
                        <input type="text" class="form-control" id="textapellidos" placeholder="Apellidos" ng-model="apellidos">
                    </div>
                    <div class="form-group">
                        <label for="numeroCuenta">Numero de cuenta</label>
                        <input type="text" class="form-control" id="textnumerocuenta" placeholder="Numero Cuenta" ng-model="num">
                    </div>
                    <div class="form-group">
                        <label for="departamentoempleado">Departamento</label>
                        <select class="form-control" id="selectdepartamento" ng-model="depto">
                            <option value="Finanzas">Finanzas</option>
                            <option value="Sistemas">Sistemas</option>
                            <option value="Mercadotecnia">Mercadotecnia</option>
                            <option value="Administración">Administración</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                    <input type="button" value="Registrar" class="btn" ng-click="nuevoEmpleado(nombre,apellidos,num,depto)">
                    </div>
                </form>
                </div>
            </div>
        </div>
        <footer class="panel-footer">Golden Cloud Factory &#174</footer>
    </body> 
</html>